{% extends 'IneiAuthBundle::layout.html.twig' %}
{% block css %}
<style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;            
            font: 75%/1.4 "Lucida Sans",Arial,Helvetica,sans-serif;
            background-image: url("{{ asset('bundles/inei/banner_srpr.jpg') }}");
            background-repeat: no-repeat;
            background-position: center top;
            background-size: auto 138px;
        }
        
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        #principal{
            margin-top: 50px;
        }
        .modal{
            background-color: rgb(255, 252, 238);
            }
        #menu-principal{
            background-color: rgb(255, 252, 238);
            border: 1px solid rgb(227, 227, 227);
            border-radius: 4px 4px 4px 4px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
            }
        table.thead.tr{

    background-color: rgb(33, 64, 116);
    color: rgb(255, 255, 255);

            }
            .row-black {
    background-color: rgb(33, 64, 116);
    color: rgb(255, 255, 255);
}
h3{
color: rgb(18, 80, 128);
font-size: 18px;
font-weight: bold;}
    </style>
    {% block csspage %}{% endblock %}
{% endblock %}
{% block content_header %}
    <div style="text-align: center; margin-top: 45px;">
        <h4>Usuario: {{ app.user.nombres }}</h4>
    </div>
    <div style="position: absolute; right: 20px; top:90px;">
        <a href="{{ path('_admin_logout') }}"><h4>Cerrar sesion</h4></a>
    </div>
{% endblock %}
{% block content %}
        <div class="container-fluid" id="principal">
            <div class="row-fluid">
                <div class="span2">
                    <div class="sidebar-nav" id="menu-principal">
                        <ul class="nav nav-list">
                        {% for perm in app.user.permissions %}
                            {% set addpath = perm.module.addPath %}
                            {% set querypath = perm.module.queryPath %}
                            {% set name = perm.module.name|capitalize %}
                            <li class="nav-header">{{ perm.module.description }}</li>
                            {% if 'add' in perm.type %} <li class=""><a href="{% if addpath %}{{ path(addpath) }}{% endif %}">Registrar {{ name }}</a></li>{% endif %}
                            {% if 'query' in perm.type %} <li class=""><a href="{% if querypath %}{{ path(querypath) }}{% endif %}">Consultar {{ name }}</a></li>{% endif %}
                        {% endfor %}
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->
                {% block form %} <h1></h1> {% endblock %}
            </div>
            <footer>
                
            </footer>

        </div><!--/.fluid-container-->
{% endblock %}
