{% extends 'IneiAuthBundle::layout.html.twig' %}
{% block css %}
<style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
{% endblock %}
{% block content_header %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">PLANILLAS 2013</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            Bienvenido <a href="{{ path('_admin_logout') }}" class="navbar-link">{{ app.user.nombres }}</a>
                        </p>
                        <ul class="nav">
                            <li class=""><a href="#" class="active">Acerca de</a></li>                            
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
{% endblock %}
{% block content %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Inventario</li>
                            <li class=""><a href="{{ path('_inventario_list') }}">Lista Tomos</a></li>                            
                            <li class=""><a href="{{ path('_inventario_tomo_add') }}">Registrar Tomo</a></li>
                            <li class=""><a href="{{ path('_inventario_folio_add') }}">Registrar Folio</a></li>
                            <li class="nav-header">Planilla</li>                            
                            <li class=""><a href="{{ path('_concepto_list') }}">Lista Conceptos</a></li>
                            <li class=""><a href="{{ path('_concepto_add') }}">Regsitrar Conceptos</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->
                {% block form %} {% endblock %}
            </div>
            <footer>
                <p>&copy; Company 2013</p>
            </footer>

        </div><!--/.fluid-container-->
{% endblock %}
