{% extends 'IneiAuthBundle:Secured:index.html.twig' %}
{% block form %}
<div class="span10">
    
    <div class="modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Procesar los datos de Personal</h3>
        </div>
        <div class="modal-body">
        {% for flashMessage in app.session.flashbag.get('usuario') %}
            <div class="alert alert-{% if 'error' in flashMessage %}error{% else %}success{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
        <form method="GET" name="form">
        <div class="row-fluid">
            <div class="span8">
            <fieldset>
                <legend>Opciones de Busqueda</legend>
                <div class="row-fluid">
                    <div class="span2">
                        <label for="id_tipo_busqueda">Tipo de Busqueda</label>
                    </div>
                    <div class="span3">
                        <select name="tipo_busqueda" id="id_tipo_busqueda">
                            <option value="1" {% if form['tipo_busqueda'] == '1' %} selected {% endif %}>
                                Personal No Encontrado
                            </option>
                            <option value="2" {% if form['tipo_busqueda'] == '2' %} selected {% endif %}>
                                Personal No Encontrado en Siga
                            </option>
                            <option value="3" {% if form['tipo_busqueda'] == '3' %} selected {% endif %}>
                                Personal Encontrado en Siga
                            </option>
                            <option value="4" {% if form['tipo_busqueda'] == '4' %} selected {% endif %}>
                                Todo el Personal en Planillas
                            </option>
                        </select>
                    </div>
                    <div class="span2">
                        <label for="id_soundex">Que suene A:</label>
                    </div>
                    <div class="span3">
                        <input type="text" name='form[soundex]' id="id_soundex" value="{{ form['soundex'] }}">
                    </div>
                    <div class="span1">
                        <input type="button" value="Imprimir" name="imprimir" id="id_imprimir"class="btn btn-primary">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2">
                        <label for="id_nombres">Nombres:</label>
                    </div>
                    <div class="span3">
                        <input type="text" name='form[nombres]' id="id_nombres" value="{{ form['nombres'] }}">
                    </div>
                    <div class="span2">
                        <label for="id_codigo">Codigo:</label>
                    </div>
                    <div class="span3">
                        <input type="text" name='form[codigo]' id="id_codigo" value="{{ form['codigo'] }}">
                    </div>
                    <div class="span1">
                        <input type="submit" value="Buscar" name="buscar" class="btn btn-primary">
                    </div>
                </div>
            </fieldset>
            </div></div>
        
        
        </form>
        <a href="{{ path('_consistencia_procesar') }}" id="id_anterior" class="btn btn-primary">Anterior </a>
        <div style="float: right" id="busca_personal">
            <input type="button" value="Marcar como no encontrado" id="id_btnnoencontrado" class="btn btn-danger">
            <input type="button" value="Buscar Personas" id="id_btnbuscar" class="btn btn-primary">
            <input type="button" value="Registrar Persona" id="id_btnregistrar" class="btn btn-primary">
        </div>
        <h4>Listado de Personal</h4>
        <form name="frm_personal" id="id_frm_personal">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="row-black">
                        <th>Item</th>
                        <th>Marcar Todos &nbsp; <input type="checkbox" id="chk_todos" ></th>
                        <th>Codigo Empleado</th>
                        <th>Nombre Corto</th>
                        <th>Personal Relacionado</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in pagination %}
                    <tr {% if loop.index is odd %}class="info"{% endif %}>
                        <td>{{ loop.index }}</td>
                        <td style="text-align: center;">
                            <input type="checkbox" name="personal[]" value="{{ item.nombCortPer }}" class="personal">
                        </td>
                        <td>{{ item.codiEmplPer }}</td>
                        <td>{{ item.nombCortPer }}</td>
                        {% if item.persona is defined %}<td>{{ item.persona }}</td>
                        {% else %}
                        <td> {{ item.codiEmplPer }} </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="dialog" title="Buscar Persona" class="dialog">
                <div class="row-fluid">
                    <div class="span3"><label>Buscar en Siga</label></div>
                    <div class="span1"><input type="radio" value="1" id="opt_siga" name="optbusqueda[]" checked></div>
                    <div class="span3"><label>Buscar en Reniec</label></div>
                    <div class="span1"><input type="radio" value="2" id="opt_nueva" name="optbusqueda[]"></div>
                </div>
                <div class="row-fluid" id="persona_siga">
                    <div class="span3"><label>Buscar Personal en Siga</label></div>
                    <div class="span9"><input type="text" name="persona_siga" id="id_personal_siga" class="personal">&nbsp;&nbsp;</div>
                </div>
                <div class="row-fluid" id="persona_nueva" style="display: none;">
                    <div class="span3"><label>Buscar Personal en Reniec</label></div>
                    <div class="span9"><input type="text" name="persona_reniec" id="id_personal_reniec" class="personal">&nbsp;&nbsp;</div>
                </div>
            </div>
            
            <div id="registrar" title="Registrar Persona" class="dialog">
                <div class="row-fluid">
                    <div class="span3"><label>Apellido Paterno</label></div>
                    <div class="span9"><input type="text" name="apepat" id="id_apepat" >&nbsp;&nbsp;</div>
                </div>
                <div class="row-fluid">
                    <div class="span3"><label>Apellido Materno</label></div>
                    <div class="span9"><input type="text" name="apemat" id="id_apemat" >&nbsp;&nbsp;</div>
                </div>
                <div class="row-fluid">
                    <div class="span3"><label>Nombres</label></div>
                    <div class="span9"><input type="text" name="nombres" id="id_nombre" >&nbsp;&nbsp;</div>
                </div>
                <input type="hidden" name="dni" id="dni" value=""/>
            </div>
            
        </form>
        
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div id="feedback">
            <img src="{{ asset('bundles/ineipayroll/images/cargando.gif') }}" style="display: none" id="cargando" />
            <br>
            <div class="alert alert-success" style="display: none;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h1></h1>
            </div>
            
            
        </div>
        
        </div>
        <div class="modal-footer">
        </div>
</div>
{% endblock %}
{% block csspage %} 
<link rel="stylesheet" href="{{ asset('bundles/inei/jqueryui/css/smoothness/jquery-ui-1.9.2.custom.css') }}" />
{% endblock %}
{% block js %}
<script src="{{ asset('bundles/inei/jqueryui/js/jquery-ui-1.9.2.custom.min.js') }}" type="text/javascript"></script>


    <script type="text/javascript">
        $('#id_btnbuscar').on('click', function(e){
            load_personal();
        });
        
        $('#id_btnregistrar').on('click', function(e){
            create_personal();
        });
        
        $('#id_btnnoencontrado').on('click', function(e){
            setPersonalNoEncontrado();
        });
        
        $('#chk_todos').on('change', function(e){
           var checked = $(this).is(':checked');
           if(checked){
               $('.personal').prop('checked', checked);
           }else{
               $('.personal').removeAttr('checked');
           }
        });
        
        $('#id_imprimir').on('click', function(e){
            //event.preventDefault();
            var data = $('form').serialize(true),
            url = '{{ path('_personal_print') }}?';
            location.href = url+data;
        });
        
        $('#opt_siga').on('click', function(e){
            $('#persona_siga').show();        
            $('#persona_nueva').hide();
        });
        
        $('#opt_nueva').on('click', function(e){
            $('#persona_siga').hide();        
            $('#persona_nueva').show();
        });
                
        function load_personal(){
            var data = $('#id_frm_personal').serialize(),
                    personas = $('.personal:checked');
            if(personas.length===0){
                alert('Debe seleccionar al menos una persona');
                return false;
            }else{
                $('#dialog').dialog("open");
                return true;
            }
        }
        
        function create_personal(){
            var data = $('#id_frm_personal').serialize(),
                    personas = $('.personal:checked');
            if(personas.length===0){
                alert('Debe seleccionar al menos una persona');
                return false;
            }else{
                $('#registrar').dialog("open");
                return true;
            }
        }
        
        function asocia_personal(){
            var rpta = true, nuevo = $('#opt_nueva').is(':checked'),
                    tipo = (nuevo === true)?2:1;
            
            if(nuevo){
                if(!$('#id_personal_reniec').val()){
                    alert('Debe seleccionar una persona');
                    return false;
                }
            }else{
                if(!$('#id_personal_siga').val()){
                    alert('Debe seleccionar una persona');
                    return false;
                }
            }
            
            if(confirm('¿DESEA ASOCIAR LOS NOMBRES SELECCIONADOS AL PERSONAL SELECCIONADO?')){
                var data = $('#id_frm_personal').serialize(),
                    personas = $('.personal:checked');
                if(nuevo){                    
                    data += '&persona=' + $('#id_personal_reniec').val();
                }else{
                    data += '&persona=' + $('#id_personal_siga').val();
                }
                data += '&tipo=' + tipo;
                var oOptions = {
                    url: '{{ path('_personal_asocia_ajax') }}',
                    dataType: 'json',
                    async: true,
                    data: data,
                    beforeSend: function() {

                    }
                };
                var posting = $.ajax(oOptions);

                posting.done(function(data, textStatus, jqXHR) {
                    if(data['success']){
                        alert('Personal Asociado con éxito');
                        $.each(personas, function(k,v){
                            $(this).parent().parent().remove();
                        });
                    }
                })
                .fail(function(data, textStatus, jqXHR) {
                    alert('Ocurrio un error al asociar');
                    rpta = false;
                });
            }
            return rpta;
        }
        
        function registra_personal(){
            var rpta = true;
            if($.trim($('#id_apepat').val()) === ''){
                alert('Debe escribir el apellido paterno');
                return false;
            }else if($.trim($('#id_apemat').val())=== ''){
                alert('Debe escribir el apellido materno');
                return false;
            }if($.trim($('#id_nombre').val())===''){
                alert('Debe escribir el nombre');
                return false;
            }            
            
            if(confirm('¿DESEA ASOCIAR LOS NOMBRES SELECCIONADOS AL PERSONAL REGISTRADO?')){
                var data = $('#id_frm_personal').serialize()+'&'+$('#registrar :input').serialize(),
                    personas = $('.personal:checked');
                
                var oOptions = {
                    url: '{{ path('_personal_registra_ajax') }}',
                    dataType: 'json',
                    async: true,
                    data: data,
                    beforeSend: function() {

                    }
                };
                var posting = $.ajax(oOptions);

                posting.done(function(data, textStatus, jqXHR) {
                    if(data['success']){
                        alert('Personal Asociado con éxito');
                        $.each(personas, function(k,v){
                            $(this).parent().parent().remove();
                        });
                    }
                })
                .fail(function(data, textStatus, jqXHR) {
                    alert('Ocurrio un error al asociar');
                    rpta = false;
                });
            }
            return rpta;
        }
        
        function setPersonalNoEncontrado(){
            var personas = $('.personal:checked'),
                    data = $('#id_frm_personal').serialize();
            if(personas.length===0){
                alert('Debe seleccionar al menos un nombre de personal');
                return false;
            }
            if(confirm('¿DESEA MARCAR LOS NOMBRES SELECCIONADOS COMO "NO ENCONTRADOS"?')){
                var oOptions = {
                    url: '{{ path('_consistencia_personal_no_ajax') }}',
                    dataType: 'json',
                    async: true,
                    data: data,
                    beforeSend: function() {
                    }
                };
                var posting = $.ajax(oOptions);

                posting.done(function(data, textStatus, jqXHR) {
                    if(data['success']){
                        alert('Personal marcado como no encontrado con éxito');
                        $.each(personas, function(k,v){
                            $(this).parent().parent().remove();
                        });
                    }
                })
                .fail(function(data, textStatus, jqXHR) {
                    alert('Ocurrio un error al ejecutar la tarea');
                });
            }
        }
        
        $(document).on('ready', function(e){
             $( "#dialog" ).dialog({
                autoOpen: false,
                title: 'Buscar Personas',
                width: '600',
                height: '300',
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                 buttons: {
                    "Asociar": function() {
                        if(asocia_personal()){
                            $( this ).dialog( "close" );
                        }
                    },
                    "Cancelar": function() {
                        $( this ).dialog( "close" );
                    }
                }
            });
            
            $( "#registrar" ).dialog({
                autoOpen: false,
                title: 'Crear Persona',
                width: '600',
                height: '300',
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                 buttons: {
                    "Registrar": function() {
                        if(registra_personal()){
                            $( this ).dialog( "close" );
                        }
                    },
                    "Cancelar": function() {
                        $( this ).dialog( "close" );
                    }
                }
            });
            
            var cache = {};
            var cachee = {};
        
            $( "#id_personal_siga" ).autocomplete({
                minLength: 4,
                source: function( request, response ) {
                    var term = request.term;
                    if ( term in cache ) {
                        response( cache[ term ] );
                        return;
                    }                    
                    var data = {
                        personal: term,
                        tipo: 1
                    };
                    var oOptions = {
                        url: '{{ path('_maestro_personal_ajax') }}',
                        dataType: 'json',
                        async: true,
                        data: data,
                        beforeSend: function() {
                        }
                    };
                    var posting = $.ajax(oOptions);

                    posting.done(function(data, textStatus, jqXHR) {
                        cache[ term ] = data['data'];
                        response( data['data'] );
                    })
                    .fail(function(data, textStatus, jqXHR) {
                        $('#cargando').hide();
                        $('#feedback .alert').show().html(textStatus);
                    });
                }
            });
            
            $( "#id_personal_reniec" ).autocomplete({
                minLength: 4,
                source: function( request, response ) {
                    var term = request.term;
                    if ( term in cachee ) {
                        response( cachee[ term ] );
                        return;
                    }                    
                    var data = {
                        personal: term,
                        tipo: 2
                    };
                    var oOptions = {
                        url: '{{ path('_maestro_personal_ajax') }}',
                        dataType: 'json',
                        async: true,
                        data: data,
                        beforeSend: function() {
                        }
                    };
                    var posting = $.ajax(oOptions);

                    posting.done(function(data, textStatus, jqXHR) {
                        cachee[ term ] = data['data'];
                        response( data['data'] );
                    })
                    .fail(function(data, textStatus, jqXHR) {
                        $('#cargando').hide();
                        $('#feedback .alert').show().html(textStatus);
                    });
                }
            });
        });
    </script>
{% endblock %}