{% extends 'IneiAuthBundle:Secured:index.html.twig' %}
{% block form %}
<div class="span10">
    
    <div class="modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Procesar los periodos</h3>
        </div>
        <div class="modal-body">
        {% for flashMessage in app.session.flashbag.get('usuario') %}
            <div class="alert alert-{% if 'error' in flashMessage %}error{% else %}success{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
        <form method="POST" name="form" enctype="multipart/form-data">
            <div class="row-fluid">
                <div class="span8">
                    <input type="file" class="" name="periodo" id="periodo_id">
                    <input type="submit" class="btn btn-primary">
                </div>
            </div>
        </form>
        <br><br>
        <h4>Archivo de Periodos</h4>
        <a href="{{ asset('upload/consistencia/') }}{{ file}}">Archivo Periodo</a>&nbsp;&nbsp;&nbsp;
        <input type="button" class="btn btn-primary" value="Sincronizar Periodos" id="process_periodo">
        <div id="feedback">
            <img src="{{ asset('bundles/ineipayroll/images/cargando.gif') }}" style="display: none" id="cargando" />
            <br>
            <div class="alert alert-success" style="display: none;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h1></h1>
            </div>
        </div>
        </div>
        <div class="modal-footer">
        </div>
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        
        function actualizar_periodos(){            
            if(confirm('¿DESEA ASOCIAR LOS NOMBRES SELECCIONADOS AL PERSONAL SELECCIONADO?')){
                var data = $('#id_frm_personal').serialize(),
                    personas = $('.personal:checked');
                
                var oOptions = {
                    url: '{{ path('_consistencia_periodo_ajax') }}',
                    dataType: 'json',
                    async: true,
                    data: data,
                    beforeSend: function() {
                        $('#cargando').show();
                    }
                };
                var posting = $.ajax(oOptions);

                posting.done(function(data, textStatus, jqXHR) {
                    if(data['success']){
                        $('#cargando').hide();
                    }
                })
                .fail(function(data, textStatus, jqXHR) {
                    alert('Ocurrio un error al asociar');
                    $('#cargando').hide();
                });
            }
        }
        
        $('#process_periodo').on('click', function(e){
            actualizar_periodos();
        });
        
        $('#chk_todos').on('change', function(e){
           var checked = $(this).is(':checked');
           if(checked){
               $('.personal').prop('checked', checked);
           }else{
               $('.personal').removeAttr('checked');
           }
        });
                
        $('#opt_siga').on('click', function(e){
            $('#persona_siga').show();        
            $('#persona_nueva').hide();
        });
        
        $('#opt_nueva').on('click', function(e){
            $('#persona_siga').hide();        
            $('#persona_nueva').show();
        });
        
        
        
    </script>
{% endblock %}