{% extends 'IneiAuthBundle:Secured:index.html.twig' %}
{% block form %}
<div class="span10">
    
    <div class="modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Consistencia de datos de Personal</h3>
        </div>
        <div class="modal-body">
        {% for flashMessage in app.session.flashbag.get('usuario') %}
            <div class="alert alert-{% if 'error' in flashMessage %}error{% else %}success{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% if sincroniza %}
        <input type="button" value="Iniciar Consistencia" id="id_consistencia" class="btn btn-primary">
        {% else %}
        <input type="button" value="Volver a Consistenciar" id="id_consistencia" class="btn btn-primary">
        <a href="{{ path('_consistencia_procesar') }}" id="id_siguiente" class="btn btn-primary">Siguiente </a>
        {% endif %}
        <div id="feedback">
            <img src="{{ asset('bundles/ineipayroll/images/cargando.gif') }}" style="display: none" id="cargando" />
            <div class="results row-fluid" style="display: none">
            <h1 class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>                
            </h1>
                <a href="{{ path('_consistencia_procesar') }}" id="id_siguiente" class="btn btn-primary">Siguiente </a>
            </div>
        </div>
        </div>
        <div class="modal-footer">
        </div>
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $('#id_consistencia').on('click', function(e){
            if(confirm('¿Esta seguro que desea iniciar la consistencia de personal?')){
                start_consistencia();
            }
        });
        
        function start_consistencia(){
            var oOptions = {
                url: '{{ path('_consistencia_personal_ajax') }}',
                dataType: 'json',
                async: true,
                beforeSend: function() {
                    $('#cargando').show();
                }
            };
            var posting = $.ajax(oOptions);
        
            posting.done(function(data, textStatus, jqXHR) {
                $('#cargando').hide();
                if(data['success']){
                    $('#feedback .results').show()
                            .find('.alert').html('Se cargaron ' + data['data'] + ' nombres de empleados');
                }else{
                    $('#feedback .results').show()
                            .find('.alert').html(data['error']);
                }
            })
            .fail(function(data, textStatus, jqXHR) {
                $('#cargando').hide();
                $('#feedback .results').show()
                        .find('.alert').html(textStatus);
            });

            
        }
    </script>
{% endblock %}