{% extends 'IneiAuthBundle:Secured:index.html.twig' %}
{% form_theme form.conceptos 'IneiPayrollBundle:Form:form_table_horizontal_layout.html.twig' %}
{% block csspage %}
<style type="text/css" >
        .folio{
            width: 50px;
        }
        .periodo{
            width: 200px;
        }
        .registros{
            width: 50px;
        }
        .planilla{
            width: 200px;
        }
        .codiconcepto{
            width: 350px;
        }
        .ordenconcepto{
            width: 50px;
        }
        .cantidad {
            width: 70px;
            text-align: center;
        }
</style>
{% endblock %}
{% block form %}
<div class="span10">
    <div class="row-fluid">
    {{ form_start(form) }}
    <div class="modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Registrar Folio</h3>
        </div>
        <div class="modal-body"> 
                    {% for flashMessage in app.session.flashbag.get('folio') %}
            <div class="alert alert-{% if 'error' in flashMessage %}error{% else %}success{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
        {{ form_errors(form) }}
            <div class="row-fluid">
                <div class="span1">
                    {{ form_label(form.tomo) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.tomo) }}
                    {{ form_widget(form.tomo) }}
                </div>
                <div class="span1">
                    {{ form_label(form.folio) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.tomo) }}
                    {{ form_widget(form.folio) }}
                </div>    
            </div>
            <div class="row-fluid">
                <div class="span1">
                    {{ form_label(form.periodoFolio) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.periodoFolio) }}
                    {{ form_widget(form.periodoFolio) }}
                </div>
                <div class="span1">
                    {{ form_label(form.registrosFolio) }}
                </div>
                <div class="span1">
                    {{ form_errors(form.registrosFolio) }}
                    {{ form_widget(form.registrosFolio) }}
                </div>
             </div>
             <div class="row-fluid">
                <div class="span1">
                    {{ form_label(form.tipoPlanTpl) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.tipoPlanTpl) }}
                    {{ form_widget(form.tipoPlanTpl) }}
                </div>
                <div class="span1">
                    {{ form_label(form.subtPlanStp) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.subtPlanStp) }}
                    {{ form_widget(form.subtPlanStp) }}
                </div>
            </div>            
            <div class="folio-options"></div>
            <br>
            <table id="tfolios" class="table-bordered table-condensed">
                <thead>
                <th>Orden</th><th>Concepto</th><th>Opciones</th>
                </thead>
                <tbody data-prototype="{{ form_widget(form.conceptos.vars.prototype)|e }}"
                       data-options =''>
                    {% for concepto in form.conceptos %}
                    <tr>
                        <td>{{ form_errors(concepto.orden) }}{{ form_widget(concepto.orden) }}</td>
                        <td>{{ form_errors(concepto.codiConcTco) }}{{ form_widget(concepto.codiConcTco) }}</td>
                    </tr>
                    {% endfor %}                    
                </tbody>
            </table>
        </div>
            <div class="modal-footer">
                {{ form_widget(form.save) }}
                {{ form_widget(form.saveAndAdd) }}
                <a href="{{ path('_admin') }}" class="btn">Cerrar</a>
            </div>            
        </div>
        {{ form_end(form) }}
        </div>
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
     // Get the ul that holds the collection of tags
        var collectionHolder = $('#tfolios tbody');
        var options = $('div.folio-options');
        var $addTagLink = $('<a href="#" class="btn btn-primary">Agregar Concepto</a>');

        jQuery(document).ready(function() {
            // add the "add a tag" anchor and li to the tags ul
            collectionHolder.find('tr').each(function() {
                addOptions($(this));
            });    
            options.append($addTagLink);
            
            collectionHolder.data('index', collectionHolder.find('tr').length);            
            $addTagLink.on('click', function(e) {
                e.preventDefault();
                addConceptForm(collectionHolder);
            });
            $('#folios_tomo').on('change', function(e){
                e.preventDefault();
                loadFolios($(this).val());
            });
            $('#folios_tipoPlanTpl').on('change', function(e) {
                loadSubPlanillas($(this).val());
            });
        });
        function addConceptForm(collectionHolder) {
            var prototype = collectionHolder.data('prototype');
            var index = collectionHolder.data('index');
            var newForm = prototype.replace(/__conceptform__/g, index);
            var $newForm = $(newForm);
            addOptions($newForm);
            collectionHolder.data('index', index + 1);

            collectionHolder.append($newForm);

        }
        function addOptions($newForm) {
//            var $viewopt = $('<a href="#verconcepto" title="Ver Concepto"><i class="icon-edit"></i> </a>');
//            var $newopt = $('<a href="#nuevoconcepoto" title="Nuevo concepto"><i class="icon-plus"></i> </a>');
            var $deleteopt = $('<a href="#" title="Eliminar concepto"><i class="icon-trash"></i> </a>');
            var $options = $('<td></td>');
            //$options.append($viewopt);
            //$options.append($newopt);
            $options.append($deleteopt);
            $newForm.append($options);
            $deleteopt.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // remove the li for the tag form
                $newForm.remove();
            });
        }
        function loadFolios(tomo) {        
            var $folios = $('#folios_folio');
            $folios.empty();
            $.get('{{ path('_inventario_folio_ajax') }}', {"tomo": tomo}, function(json){
                $.each(json, function(k, v){
                    $folios.append($('<option value='+k+'>'+v+'</option>'));
                });
            });
        }

        function loadSubPlanillas(pla) {        
            var $folios = $('#folios_subtPlanStp');
            $folios.empty();
            $folios.append($('<option value="">---SELECCIONE---</option>'));
            $.get('{{ path('_planilla_tplanilla_ajax') }}', {"pla": pla}, function(json){
                $.each(json, function(k, v){
                    $folios.append($('<option value='+v['subtPlanStp']+'>'+v['descSubtStp']+'</option>'));
                });
            });
        }
        
        $('form').on('submit', function(e){
            return confirm('¿Esta seguro que desea guardar este registro?');
        });
        
        </script>
{% endblock %}    