{% extends 'IneiAuthBundle:Secured:index.html.twig' %}
{% form_theme form 'IneiPayrollBundle:Form:form_table_horizontal_layout.html.twig' %}
{% form_theme form.folios.vars.prototype.conceptos 'IneiPayrollBundle:Form:form_table_td_layout.html.twig' %}
{% block css %}
<style type="text/css" >
        .folio{
            width: 50px;
        }
        .periodo{
            width: 200px;
        }
        .registros{
            width: 50px;
        }
        .planilla{
            width: 200px;
        }        
</style>
{% endblock %}
{% block form %}
<div class="span10">
    {{ form_start(form) }}
    <div class="modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Modificar Tomos</h3>
        </div>
        <div class="modal-body">        
        {{ form_errors(form) }}
            {{ form_label(form.anoTomo) }}
            {{ form_errors(form.anoTomo) }}
            {{ form_widget(form.anoTomo) }}
            {{ form_label(form.periodoTomo) }}
            {{ form_errors(form.periodoTomo) }}
            {{ form_widget(form.periodoTomo) }}
            {{ form_label(form.foliosTomo) }}
            {{ form_errors(form.foliosTomo) }}
            {{ form_widget(form.foliosTomo) }}
            {{ form_label(form.descTomo) }}
            {{ form_errors(form.descTomo) }}
            {{ form_widget(form.descTomo) }}
            <ul class="folio-options"></ul>
            <table id="tfolios" class="table-bordered table-condensed">
                <thead>
                <th class="folio">Folio</th><th>Periodo</th><th>Registros</th><th>Planilla</th><th>Sub-Planilla</th><th>Conceptos</th>
                </thead>
                <tbody data-prototype2="{{ form_widget(form.folios.vars.prototype.conceptos.vars.prototype)|e }}"
                       data-prototype="{{ form_widget(form.folios.vars.prototype)|e }}">                    
                    {% for folio in form.folios %}
                    <tr>
                        <td>{{ form_errors(folio.folio) }}{{ form_widget(folio.folio) }}</td>
                        <td>{{ form_errors(folio.periodoFolio) }}{{ form_widget(folio.periodoFolio) }}</td>
                        <td>{{ form_errors(folio.registrosFolio) }}{{ form_widget(folio.registrosFolio) }}</td>
                        <td>{{ form_errors(folio.tipoPlanTpl) }}{{ form_widget(folio.tipoPlanTpl) }}</td>
                        <td>{{ form_errors(folio.subtPlanStp) }}{{ form_widget(folio.subtPlanStp) }}</td>
                        <td>{% for concepto in folio.conceptos %}
                            {{ form_errors(concepto.codiConcTco) }}{{ form_widget(concepto.codiConcTco) }}
                            {% endfor %}
                            <input type="button" name="btnconcept-{{ loop.index0 }}" value="add concept">
                        </td>
                    </tr>
                    {% endfor %}                    
                </tbody>
            </table>
            </div>
            <div class="modal-footer">
                {{ form_widget(form.save) }}
                {{ form_widget(form.saveAndAdd) }}
                <a href="#" class="btn">Cerrar</a>
            </div>            
        </div>
        {{ form_end(form) }}
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
     // Get the ul that holds the collection of tags
        var collectionHolder = $('#tfolios tbody');
        var options = $('ul.folio-options');

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link">Agregar Folio</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);        

        jQuery(document).ready(function() {
            // add the "add a tag" anchor and li to the tags ul
            options.append($newLinkLi);
            conceptoEvents();

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            collectionHolder.data('index', collectionHolder.find('tr').length);            
            refreshEvents(collectionHolder);
            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addFolioForm(collectionHolder);
            });            
        });
        function addFolioForm(collectionHolder) {
            // Get the data-prototype explained earlier
            var prototype = collectionHolder.data('prototype');
            
            // get the new index
            var index = collectionHolder.data('index');
            var $addConcept = $('<input type="button" name="btnconcept-'+index+'" value="add concept">');
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__folioform__/g, index);
            var $newForm = $(newForm);
            var concepts = $('<td></td>');
            concepts.html($addConcept);
            // increase the index with one for the next item
            collectionHolder.data('index', index + 1);
            $newForm.append(concepts);
            collectionHolder.append($newForm);

            $addConcept.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                concepts.data('index2', concepts.find('tr').length);
                // add a new tag form (see next code block)
                addConceptForm(concepts, index);
            });
        }
        function addConceptForm(collectionHolder, index) {
            // Get the data-prototype explained earlier
            var prototype = $('#tfolios tbody').data('prototype2');

            // get the new index
            var index2 = collectionHolder.data('index2');
            
            var newForm = prototype.replace(/__folioform__/g, index).replace(/__conceptform__/g, index2);            
            
            // increase the index with one for the next item
            collectionHolder.data('index2', index2 + 1);
                        
            collectionHolder.append(newForm);
        }
        function refreshEvents(collectionHolder) {
            // get the new index
            $.each(collectionHolder.find('tr'), function(k,v){
                var concepts = $(v).find('td:last-child');
                var $addConcept = concepts.find("input[type='button']");
                $addConcept.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    var count = concepts.find("input[type='text']").length;
                    e.preventDefault();
                    concepts.data('index2', count);
                    // add a new tag form (see next code block)
                    addConceptForm(concepts, k);
                });
            });            
        }
        function conceptoEvents(){
            $.each($("input[type='text']").find('.codiconcepto'),function(k, v){
                $(v).on('dblclick', function(e){
                   $(this).remove();
                });
            });
        }
        </script>
{% endblock %}    