{% extends 'IneiAuthBundle:Secured:index.html.twig' %}
{% block form %}
<div class="span10">
    <div class="modal">
        <div class="modal-header">
            <h3>Consultar Folios</h3>
            <a href="{{ path('_inventario_list') }}" class="close" ><i class="icon-arrow-left"></i></a>
        </div>
        <div class="modal-body">
            {% for flashMessage in app.session.flashbag.get('folio') %}
            <div class="alert alert-{% if 'error' in flashMessage %}error{% else %}success{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
            {{ form_start(form) }}
            <div class="row-fluid"><div class="span7">
            <fieldset>
                <legend>Opciones de Busqueda</legend>
                <div class="row-fluid">
                <div class="span2">{{ form_label(form.tomo) }}</div><div class="span3">{{ form_widget(form.tomo) }} </div>
                <div class="span2">{{ form_label(form.folio) }}</div><div class="span3"> {{ form_widget(form.folio) }} </div>
                </div><div class="row-fluid">
                <div class="span2">{{ form_label(form.periodoFolio) }}</div><div class="span3"> {{ form_widget(form.periodoFolio) }} </div>
                <div class="span2">{{ form_label(form.registrosFolio) }}</div><div class="span2">{{ form_widget(form.registrosFolio) }} </div>
                <div class="span1">{{ form_widget(form.search) }} </div>
                </div>
            </fieldset>
            </div></div>{{ form_end(form) }}
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="row-black">
                        <th>Tomo</th>
                        <th>Número de Folio</th>
                        <th>Periodo</th>
                        <th>Registros</th>
                        <th>Tipo Planilla</th>
                        <th>Sub Planilla</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                {% set edit = usuario_service.hasPermission('folio', 'edit') %}
                {% for folio in pagination %}
                    <tr {% if loop.index is odd %}class="info"{% endif %}>
                        <td>{{ folio.tomo }}</td>
                        <td>{{ folio.folio }}</td>
                        <td>{{ folio.periodoFolio }}</td>
                        <td>{{ folio.registrosFolio }}</td>
                        <td>{{ folio.descTipoTpl }}</td>
                        <td>{{ folio.subtPlanStp }}</td>
                        <td><!--- LINK A LAS PLANILLAS--->
                            {% if edit %}<a href="{{ path('_inventario_folio_edit', {'pk': folio.codiFolio}) }}" 
                               title="Editar Folio"><i class="icon-edit"></i> </a>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
                </div>
            </div>
            <div class="modal-footer">
                <a href="{{ path('_admin') }}" class="btn">Cerrar</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    function loadFolios(tomo) {
        var $folios = $('#search_folios_folio');
        $folios.empty();
        $folios.append($('<option value="">---Seleccione---</option>'));
        $.get('{{ path('_inventario_folio_ajax') }}', {"tomo": tomo}, function(json) {
            $.each(json, function(k, v) {
                $folios.append($('<option value=' + k + '>' + v + '</option>'));
            });
        });
    }
    $(document).ready(function() {
        $('#search_folios_tomo').on('change', function(e) {
            loadFolios($(this).val());
        });
        loadFolios($('#search_folios_tomo').val());
    });
</script>
{% endblock %}