{% extends 'IneiAuthBundle:Secured:index.html.twig' %}
{% block form %}
<div class="span10">
    <div class="modal">
        <div class="modal-header">
            <h3>Listar Tomos</h3>
        </div>
        <div class="modal-body">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Año</th>
                        <th>Periodo</th>
                        <th>Folios</th>
                        <th>Tipo Planilla</th>
                    </tr>
                </thead>
                <tbody>
                {% for tomo in pagination %}
                    <tr {% if loop.index is odd %}class="info"{% endif %}>
                        <td><a href="{{ path('_inventario_edit', {'pk': tomo.codiTomo}) }}">{{ tomo.codiTomo }}</a></td>
                        <td>{{ tomo.anoTomo }}</td>
                        <td>{{ tomo.periodoTomo }}</td>
                        <td>{{ tomo.foliosTomo }}</td>
                        <td>{{ tomo.periodoTomo }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}