{% extends 'IneiAuthBundle:Secured:index.html.twig' %}
{% block form %}
<div class="span10">
    <div class="modal">
        <div class="modal-header">
            <h3>Consulta Tomos</h3>
        </div>
        <div class="modal-body">
            {{ form_start(form) }}
            <div class="row-fluid">
            <div class="span7">
            <fieldset>
                <legend>Opciones de Busqueda</legend>
                <div class="row-fluid">
                <div class="span1">{{ form_label(form.anoTomo) }}</div><div class="span2"> {{ form_widget(form.anoTomo) }} </div>
                <div class="span2">{{ form_label(form.periodoTomo) }}</div><div class="span3"> {{ form_widget(form.periodoTomo) }} </div>
                <div class="span1">{{ form_label(form.foliosTomo) }}</div><div class="span2">{{ form_widget(form.foliosTomo) }} </div>
                <div class="span1">{{ form_widget(form.search) }} </div>
                </div>
            </fieldset>
            </div></div>{{ form_end(form) }}
            <br>
            <a href="{{ path('_inventario_tomo_add') }}" id="search_tomos_search" name="" class="btn btn-primary">Nuevo Tomo</a>
            <br>
            <h4>Listado de tomos</h4>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Año</th>
                        <th>Periodo</th>
                        <th>Folios</th>                        
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for tomo in pagination %}
                    <tr {% if loop.index is odd %}class="info"{% endif %}>
                        <td><a href="{{ path('_inventario_edit', {'pk': tomo.codiTomo}) }}">{{ tomo.codiTomo }}</a></td>
                        <td>{{ tomo.anoTomo }}</td>
                        <td>{{ tomo.periodoTomo }}</td>
                        <td>{{ tomo.foliosTomo }}</td>                        
                        <td>
                            <a href="{{ path('_inventario_tomo_edit', {'pk': tomo.codiTomo}) }}" title="Editar Tomo">
                                <i class="icon-edit"></i> </a>
                            <a href="{{ path('_inventario_folio_list', {'tomo': tomo.codiTomo}) }}" title="Ver Folios">
                                <i class="icon-list"></i> </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}