{% extends 'IneiAuthBundle:Secured:index.html.twig' %}
{% form_theme form.permissions 'IneiPayrollBundle:Form:form_table_horizontal_layout.html.twig' %}
{% block form %}
<div class="span10">
    {{ form_start(form) }}
    <div class="modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Registrar Rol</h3>
        </div>
        <div class="modal-body">
        {% for flashMessage in app.session.flashbag.get('role') %}
            <div class="alert alert-{% if 'error' in flashMessage %}error{% else %}success{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
        {{ form_errors(form) }}
            <div class="row-fluid">
                <div class="span1">
                    {{ form_label(form.name) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="span1">
                    {{ form_label(form.role) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.role) }}
                    {{ form_widget(form.role) }}
                </div>
            </div>
          <div class="folio-options"></div>
            <br>
            <table id="tfolios" class="table-bordered table-condensed">
                <thead>
                <th>Modulo</th><th>Permisos</th><th>Opciones</th>
                </thead>
                <tbody data-prototype="{{ form_widget(form.permissions.vars.prototype)|e }}"
                       data-options =''>
                    {% for item in form.permissions %}
                    <tr>
                        <td>{{ form_errors(item.module) }}{{ form_widget(item.module) }}</td>
                        <td>{{ form_errors(item.type) }}{{ form_widget(item.type) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>  
          </div>
            <div class="modal-footer">
                {{ form_widget(form.save) }}
                {{ form_widget(form.saveAndAdd) }}
                <a href="{{ path('_admin') }}" class="btn">Cerrar</a>
            </div>            
        </div>
        {{ form_end(form) }}
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $('form').on('submit', function(e){
            return confirm('¿Esta seguro que desea guardar este registro?');
        });
        var collectionHolder = $('#tfolios tbody');
        var options = $('div.folio-options');
        var $addTagLink = $('<a href="#" class="btn btn-primary">Agregar Modulo</a>');

        jQuery(document).ready(function() {
            // add the "add a tag" anchor and li to the tags ul
            collectionHolder.find('tr').each(function() {
                addOptions($(this));
            });    
            options.append($addTagLink);
            
            collectionHolder.data('index', collectionHolder.find('tr').length);            
            $addTagLink.on('click', function(e) {
                e.preventDefault();
                addForm(collectionHolder);
            });
        });
        
        function addForm(collectionHolder) {
            var prototype = collectionHolder.data('prototype');
            var index = collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            var $newForm = $(newForm);
            addOptions($newForm);
            collectionHolder.data('index', index + 1);
            collectionHolder.append($newForm);
        }
        
        function addOptions($newForm) {
            var $deleteopt = $('<a href="#" title="Eliminar Modulo"><i class="icon-trash"></i> </a>');
            var $options = $('<td></td>');            
            $options.append($deleteopt);
            $newForm.append($options);
            $deleteopt.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // remove the li for the tag form
                $newForm.remove();
            });
        }
        
    </script>
{% endblock %}