{% extends 'IneiAuthBundle:Secured:index.html.twig' %}
{% block form %}
<div class="span10">
    <div class="modal">
        <div class="modal-header">
            <h3>Consultar Roles</h3>
        </div>
        <div class="modal-body">
            
        {% for flashMessage in app.session.flashbag.get('role') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
            <!--form
            <div class="row-fluid">
            <div class="span7">
            <fieldset>
                <legend>Opciones de Busqueda</legend>
                <div class="row-fluid">
                
                </div>
            </fieldset>
            </div></div>
            -->
            <h4>Listado de Roles</h4>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="row-black">
                        <th>Item</th>
                        <th>Nombre</th>
                        <th>Rol</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in pagination %}
                    <tr {% if loop.index is odd %}class="info"{% endif %}>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.role }}</td>
                        <td>
                            <a href="{{ path('_admin_role_edit', {'pk': item.id}) }}" title="Editar Tomo">
                                <i class="icon-edit"></i> </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}