{% extends 'IneiAuthBundle:Secured:index.html.twig' %}
{% if form %}
{% form_theme form.payrolls 'IneiPayrollBundle:Form:form_table_horizontal_layout.html.twig' %}
{% endif %}
{% block csspage %}
<style type="text/css">        
        td.column-monto{
            width: 150px;
        }
        td.column-nombre{
            width: 200px;
        }
        td.column-descripcion{
            width: 200px;
        }
        td.column-item{
            width: 30px;
        }
    </style>
{% endblock %}
{% block form %}
    <div class="span10">
    
        <div class="modal">
            <div class="modal-header">

                <h3>Registrar Planillas</h3>
            </div>
            <div class="modal-body">
                {% for flashMessage in app.session.flashbag.get('planilla') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
                <div class="row-fluid">
                    <div class="span7">
                    {{ form_start(sform) }}
                        <div class="span1">{{ form_label(sform.tomo) }}</div>
                        <div class="span2">{{ form_widget(sform.tomo) }}</div>
                        <div class="span1">{{ form_label(sform.folio) }}</div>
                        <div class="span2">{{ form_widget(sform.folio) }}</div>
                        <div class="span2">{{ form_widget(sform.buscar) }}</div>
                    {{ form_end(sform) }}
                    </div>
                </div>{% if folio %}
                <div class="row-fluid">
                    <div class="span12"><h4>Información del Folio</h4></div></div>
                    <div class="row-fluid"><div class="span12">
                    <div class="span1"> <h4>Tomo:</h4> </div><div class="span1"> <h4>{{ folio.tomo }}</h4> </div>
                    <div class="span1"> <h4>Año:</h4> </div><div class="span1"> <h4>{{ folio.tomo.anoTomo }}</h4> </div>
                    <div class="span1"> <h4>Registros:</h4> </div><div class="span1"> <h4>{{ folio.registrosFolio }}</h4> </div>
                    <div class="span1"> <h4>Periodo:</h4> </div><div class="span2"> <h4>{{ folio.periodoFolio }}</h4> </div>
                    <div class="span1"> <h4>Planilla:</h4> </div><div class="span2"> <h4>{{ folio.tipoPlanTpl }} - {{ folio.descSubtStp }}</h4> </div>
                    </div></div>
                
                    {% endif %}

         {% if form %}
             {{ form_start(form) }}
                    <table id="tplanillas" class="table table-bordered">
                        <thead></thead>
                        <tbody data-prototype="{{ form_widget(form.payrolls.vars.prototype)|e }}">
            {% for planilla in form.payrolls%}
                {{ form_widget(planilla) }}
            {% endfor %}</tbody>
                    </table>
                    <input type ="hidden" value="{% if folio %} {{ folio.folio }} {% endif %}" name ="folio">
               {% else %}
                    <b>EL FOLIO NO ESTA REGISTRADO</b>
                    {% endif %}
                    <div class="modal-footer">
                        {% if form %} {{ form_widget(form.save) }}{{ form_end(form) }}{% endif %}
                        <a href="#" class="btn">Cerrar</a>
                    </div>
                    </div>
                            
                </div>
     
            </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    function loadColumns() {
        var form = $($('#tplanillas tbody').data('prototype'));
        var collectionColumns = $('#tplanillas thead');
        var $column = null;
        $.each(form.find('td'), function(index, field) {
            $field = $(field);
            $column = $('<th></th>');
            $column.html($field.find('*').data('title'));
            collectionColumns.append($column);
        });
        $column = $('<th>REGISTRO</th>');
        collectionColumns.prepend($column);
    }
    function indexar() {
        var rows = $('#tplanillas tbody').find('tr');
        $.each(rows, function(i, v){
           var $td = $('<td class="column-item">'+(i+1)+'</td>');
           $(v).prepend($td);
        });
    }
    function loadFolios(tomo) {
        var $folios = $('#registrar_planilla_folio');
        $folios.empty();
        $.get('{{ path('_inventario_folio_ajax') }}', {"tomo": tomo}, function(json) {
            $.each(json, function(k, v) {
                $folios.append($('<option value=' + k + '>' + v + '</option>'));
            });
        });
    }
    $(document).ready(function() {
        loadColumns();
        indexar();
        $('#registrar_planilla_tomo').on('change', function(e) {
            loadFolios($(this).val());
        });
    });

    </script>
{% endblock %}