{% extends 'IneiAuthBundle:Secured:index.html.twig' %}
{% block csspage %}
<style type="text/css" >
        .folio{
            width: 50px;
        }
        .periodo{
            width: 200px;
        }
        .registros{
            width: 50px;
        }
        .planilla{
            width: 200px;
        }        
</style>
{% endblock %}
{% block form %}
<div class="span10">
    {{ form_start(form) }}
    <div class="modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Registrar SubTipo de Planilla</h3>
        </div>
        <div class="modal-body">
            {% for flashMessage in app.session.flashbag.get('subtplanilla') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
        {{ form_errors(form) }}
            <div class="row-fluid">
                <div class="span1">
                    {{ form_label(form.tipoPlanTpl) }}                    
                </div>
                <div class="span2">
                    {{ form_errors(form.tipoPlanTpl) }}
                    {{ form_widget(form.tipoPlanTpl) }}
                </div>
                <div class="span1">
                    {{ form_label(form.subtPlanStp) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.subtPlanStp) }}
                    {{ form_widget(form.subtPlanStp) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span1">
                    {{ form_label(form.descSubtStp) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.descSubtStp) }}
                    {{ form_widget(form.descSubtStp) }}
                </div>                    
                <div class="span1">
                    {{ form_label(form.tituSubtStp) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.tituSubtStp) }}
                    {{ form_widget(form.tituSubtStp) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span1">
                    {{ form_label(form.observ) }}
                </div>
                <div class="span8">
                    {{ form_errors(form.observ) }}
                    {{ form_widget(form.observ) }}
                </div>
            </div>
            </div>
            <div class="modal-footer">
                {{ form_widget(form.save) }}
                {{ form_widget(form.saveAndAdd) }}
                <a href="#" class="btn">Cerrar</a>
            </div>            
        </div>
        {{ form_end(form) }}
</div>
{% endblock %}    