{% extends 'IneiAuthBundle:Secured:index.html.twig' %}
{% block form %}
<div class="span10">
    <div class="modal">
        <div class="modal-header">
            <h3>Consultar Tipos de Planilla</h3>
        </div>
        <div class="modal-body">
            {% for flashMessage in app.session.flashbag.get('tplanilla') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
            {{ form_start(form) }}
            <div class="row-fluid">
            <div class="span7">
            <fieldset>
                <legend>Opciones de Busqueda</legend>
                <div class="row-fluid">
                    <div class="span1">{{ form_label(form.tipoPlanTpl) }}</div><div class="span4"> {{ form_widget(form.tipoPlanTpl) }} </div>
                <div class="span2">{{ form_label(form.descTipoTpl) }}</div><div class="span3"> {{ form_widget(form.descTipoTpl) }} </div>
                <div class="span1">{{ form_widget(form.search) }} </div>
                </div>
            </fieldset>
            </div></div>{{ form_end(form) }}
            
            <h4>Listado de tipos de Planilla</h4>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="row-black">
                        <th>Item</th>
                        <th>Codigo</th>
                        <th>Descripción</th>
                        <th>Meses por Año</th>
                        <th>Abreviatura</th>                        
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                {% set edit = usuario_service.hasPermission('tplanilla', 'edit') %}
                {% for object in pagination %}
                    <tr {% if loop.index is odd %}class="info"{% endif %}>
                        <td>{{ loop.index }}</td>
                        <td>{{ object.tipoPlanTpl }}</td>
                        <td>{{ object.descTipoTpl }}</td>
                        <td>{{ object.cantPeriTpl }}</td>                        
                        <td>{{ object.abrevTipoTpl }}</td>                        
                        <td>
                            {% if edit %}<a href="{{ path('_planilla_tplanilla_edit', {'pk': object.tipoPlanTpl}) }}" title="Editar Tomo">
                                <i class="icon-edit"></i> </a>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
                </div>
            </div>
            <div class="modal-footer">
            <a href="{{ path('_admin') }}" class="btn">Cerrar</a>
            </div>
        </div>
    </div>
{% endblock %}