{% extends 'IneiAuthBundle:Secured:index.html.twig' %}
{% block form %}
<div class="span10">
    {{ form_start(form) }}
    <div class="modal">
        <div class="modal-header">
            
            <h3>Modificar Concepto</h3>
        </div>
        <div class="modal-body">
             {% for flashMessage in app.session.flashbag.get('concepto') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
            {{ form_errors(form) }}
            <div class="row-fluid">
                <div class="span1">
                    {{ form_label(form.codiConcTco) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.codiConcTco) }}
                    {{ form_widget(form.codiConcTco) }}
                </div>                
            </div>
            <div class="row-fluid">
                <div class="span1">
                    {{ form_label(form.descConcTco) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.descConcTco) }}
                    {{ form_widget(form.descConcTco) }}
                </div>
                <div class="span1">
                    {{ form_label(form.descCortTco) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.descCortTco) }}
                    {{ form_widget(form.descCortTco) }}
                </div>                
            </div>
            <div class="row-fluid">
                <div class="span1">
                    {{ form_label(form.tipoConcTco) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.tipoConcTco) }}
                    {{ form_widget(form.tipoConcTco) }}
                </div>
                <div class="span1">
                    {{ form_label(form.tipoCalcTco) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.tipoCalcTco) }}
                    {{ form_widget(form.tipoCalcTco) }}
                </div>                
            </div>
            <div class="row-fluid">
                <div class="span1">
                    {{ form_label(form.secuCalcTco) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.secuCalcTco) }}
                    {{ form_widget(form.secuCalcTco) }}
                </div>
                <div class="span1">
                    {{ form_label(form.flagAsocTco) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.flagAsocTco) }}
                    {{ form_widget(form.flagAsocTco) }}
                </div>
                <div class="span1">
                    {{ form_label(form.flagRecuTco) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.flagRecuTco) }}
                    {{ form_widget(form.flagRecuTco) }}
                </div>                
            </div>      
            <div class="row-fluid">
                <div class="span1">
                    {{ form_label(form.rntaQntaTco) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.rntaQntaTco) }}
                    {{ form_widget(form.rntaQntaTco) }}
                </div>
                <div class="span1">
                    {{ form_label(form.ctsCtsTco) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.ctsCtsTco) }}
                    {{ form_widget(form.ctsCtsTco) }}
                </div>
                <div class="span1">
                    {{ form_label(form.codiConcOnc) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.codiConcOnc) }}
                    {{ form_widget(form.codiConcOnc) }}
                </div>                
            </div>     
            <div class="row-fluid">
                <div class="span1">
                    {{ form_label(form.codiEntiEnt) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.codiEntiEnt) }}
                    {{ form_widget(form.codiEntiEnt) }}
                </div>
                <div class="span1">
                    {{ form_label(form.cntaDebeTco) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.cntaDebeTco) }}
                    {{ form_widget(form.cntaDebeTco) }}
                </div>
                <div class="span1">
                    {{ form_label(form.cntaHabeTco) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.cntaHabeTco) }}
                    {{ form_widget(form.cntaHabeTco) }}
                </div>                
            </div>
            <div class="row-fluid">
                <div class="span1">
                    {{ form_label(form.clasConcTco) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.clasConcTco) }}
                    {{ form_widget(form.clasConcTco) }}
                </div>
                <div class="span1">
                    {{ form_label(form.flagPagoTco) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.flagPagoTco) }}
                    {{ form_widget(form.flagPagoTco) }}
                </div>
                <div class="span1">
                    {{ form_label(form.sedeConcTco) }}
                </div>
                <div class="span2">
                    {{ form_errors(form.sedeConcTco) }}
                    {{ form_widget(form.sedeConcTco) }}
                </div>                
            </div>
        </div>
        <div class="modal-footer">
            {{ form_widget(form.save) }}
            {{ form_widget(form.saveAndAdd) }}
            <a href="{{ path('_admin') }}" class="btn">Cerrar</a>
        </div>        
    </div>
        {{ form_end(form) }}
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $('form').on('submit', function(e){
            return confirm('¿Esta seguro que desea modificar este registro?');
        });
    </script>
{% endblock %}