{% extends 'IneiAuthBundle:Secured:index.html.twig' %}
{% block form %}
<div class="span10">
    <div class="modal">
        <div class="modal-header">
            <h3>Consultar Conceptos</h3>
        </div>
        <div class="modal-body">
             {% for flashMessage in app.session.flashbag.get('concepto') %}
            <div class="alert alert-{% if 'error' in flashMessage %}error{% else %}success{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
                {{ form_start(form) }}
            <div class="row-fluid">
            <div class="span7">
            <fieldset>
                <legend>Opciones de Busqueda</legend>
                <div class="row-fluid">
                    <div class="span1">{{ form_label(form.codiConcTco) }}</div><div class="span2"> {{ form_widget(form.codiConcTco) }} </div>
                    <div class="span2">{{ form_label(form.descConcTco) }}</div><div class="span4"> {{ form_widget(form.descConcTco) }} </div>
                <div class="span2">{{ form_widget(form.search) }} </div>
                <div class="span1"> <input type="button" class="btn btn-primary" value="A Excel" id="reporte"/> </div>
                </div>
            </fieldset>
                
            </div></div>{{ form_end(form) }}
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="row-black">
                        <th>Item</th>
                        <th>Codigo</th>
                        <th>Descripción</th>
                        <th>Tipo</th>
                        <th>Calculo</th>
                        <th>Creador</th>
                        <th>Fecha Creación</th>
                        <th>Modificador</th>
                        <th>Fecha Modificación</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                {% set perm = usuario_service.hasPermission('concepto', 'edit') %}
                {% for item in pagination %}
                    <tr {% if loop.index is odd %}class="info"{% endif %}>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.codiConcTco }}</td>
                        <td>{{ item.descCortTco }}</td>
                        <td>{{ item.getTipoConcTco_display }}</td>
                        <td>{{ item.getTipoCalcTco_display }}</td>
                        <td>{{ item.creador }}</td>
                        <td>{{ item.fecCreac|date('d-M-Y H:m:s') }}</td>
                        <td>{{ item.modificador }}</td>
                        <td>{% if item.fecMod %}{{ item.fecMod|date('d-M-Y H:m:s') }}{% endif %}</td>
                        <td><!--- LINK A LAS PLANILLAS--->
                            {% if perm %}<a href="{{ path('_concepto_edit', {'pk': item.codiConcTco}) }}" 
                               title="Editar Folio"><i class="icon-edit"></i> </a>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
                </div>
            </div>
            <div class="modal-footer">            
                <a href="{{ path('_admin') }}" class="btn">Cerrar</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $('#reporte').on('click', function(event){
        event.preventDefault();
        var data = $('form').serialize(),
        url = '{{ path('_concepto_print') }}?';
        location.href = url+data;
    });
</script>
{% endblock %}